.sliderContainer {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1392px;

  position: relative;
  .container {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
    padding: 0 36px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    .slideDescription {
      z-index: 1;
      max-width: 600px;
      color: #000;
      background-color: #fff;
      flex-direction: column;
      align-items: flex-start;
      margin-top: auto;
      margin-bottom: auto;
      padding: 40px;
      display: flex;
      position: absolute;
      top: auto;
      bottom: auto;
      left: 0%;
      right: auto;
    }
    .slideImg {
      max-width: 75%;
      position: relative;
      top: 0%;
      bottom: 0%;
      left: auto;
      right: 0%;
      transition-duration: 500ms;
      img {
        display: inline-block;
        transition-duration: 1s;
        max-width: 100%;
      }
    }
  }
}

.activeAnim {
  opacity: 1;
}

.rightSlider {
  position: absolute;
  right: 10px;
  cursor: pointer;
  .rightButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 4px solid #fff;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    display: flex;
    background-color: #f8f6f4;
    img {
      max-width: 100%;
      display: inline-block;
    }
  }
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  .indicator {
    background-color: white;
    opacity: 0.5;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0.2rem;
    transition: 0.3s;
  }
  .active {
    background-color: white;
    opacity: 1;
  }
}
